.vscode/
# Ignore CMake build directories
/build*/   
/CMakeCache.txt
/CMakeFiles/
/Makefile
/build.ninja
/*.ninja_deps
/*.ninja_log
/*.o
/*.a
/*.so
/*.exe
/*.dll
/*.bin
/*.out
/CMakePresets.json
/stockfish
/perft_output.txt
/perft_script.sh
/somepython
/.cache